@charset "utf-8";
@font-face {
    font-family: Exo;
    src: url(../fonts/Exo-VariableFont_wght.ttf);
  }

/* Hola Mundo! */

body{
    font-family: Exo;
    background-image: url(../images/bg.jpg);
    background-size:cover;
}

#page-container:before{
    filter: blur(1.5rem);
}

#header-principal{
    color: rgba(0, 0, 0,.8);
    transition: 0.3s;
    display: flex;
    justify-content: center;
}

#header-principal:hover{
    color: rgb(0, 0, 0,.3);
}

#page-container {
    position: relative;
    min-height: 100vh;
}
  
#content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
}

#pie-pagina{
    color: white;
    text-shadow: black 3px 3px 0.7;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    
    text-align: center;
}
#barra-navegacion{
    margin: 3%;
    height: 20px;
}
.botones{
   position: absolute;
}
.boton{
    display: inline-flex;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 10px;
    background: rgba(149, 218, 85, 0.0);
    text-decoration: white;
    transition: 0.3s;
    
}
.boton:hover{
    transform: scale(1.2);
    background: rgba(186, 218, 85);   
}
.link{
    text-decoration: none;
    color: white;
    text-shadow: rgba(0, 0, 0, 0.37);
}
.link:hover{
    text-decoration:indianred;
    color: gray;
}
/* #barra-lateral{
    height:300px;
    background-color: seashell;
    float: left;
} */
#contenido-principal{

    height: auto;
    
    background-color:rgba(255, 245, 238, 0.3);
    
    padding-bottom: 1%;
    margin: auto 8%;
    border-radius: 10px;
    
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: stretch;
}

#contenido-hijo{

    flex: 0 1 auto;
}

#info{

    width: auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: stretch;
}

#info-hijo{
    text-align: center;
    flex: 1 3 auto; 
}

.text {
    padding-left: 5%;
}

#profile-picture{
    height: 15vh;
    width: 15vh;
    margin-top: 2%;
    transition: transform .2s;   
    border-radius: 5px 20px 5px;
}
#profile-picture:hover{
    transform: scale(1.2) rotate(-3deg);
}



  
.container {
    padding: 2px 16px;
  }

.cards{
    margin: 5% auto;
    width: 70%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;

}

.card,
.card::after,
.card::before{
    box-sizing: content-box;
}

.card{

    margin: 25px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background: rgba(128, 128, 128,0.1);
    transition: 0.3s;
    padding: 20px;
    flex: 1 1 auto;
    color: rgba(255, 255, 255, 0.637);
    

}

.card:hover {
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: scale(1.1);
  }

.container-cards{
    padding: auto auto;
}

.habilidades{
    width: 100%;
    height: 100%;
    padding: 10px;
}



.elementos-habilidades{
    height: 70%;
    width: 70%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    
    list-style-type: none;
}

#clase-habilidad {
    padding-left: 60px;
}

.habilidad{
    width: 10vh;
    height: 10vh;
    margin: 3px;
    flex: 0 1 20%;

    
    transition: 0.3s;
    
}

img {
    width: 100%;
    height: 100%;
}

.habilidad:hover{
    transform: scale(1.2);
}

.name-web{
    margin-left: 25vh;  
    margin-bottom: 20vh;
}

a {
    text-decoration: none;
}

strong {
    font-size: large;
}

@media (orientation: portrait){
}