@charset "utf-8";
@font-face {
    font-family: Exo;
    src: url(../fonts/Exo-VariableFont_wght.ttf);
  }

/* Hola Mundo! */

body{
    font-family: Exo;
    background-image: url(../images/bg.jpg);
}

#header-principal{
    color: rgba(0, 0, 0,.8);
    transition: 0.3s;
    display: flex;
    justify-content: center;
}

#header-principal:hover{
    color: rgb(0, 0, 0,.3);
}

#page-container {
    position: relative;
    min-height: 100vh;
}
  
#content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
}

#pie-pagina{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    
    text-align: center;
}
#barra-navegacion{
    height: 20px;
}
.botones{
   position: absolute;
}
.boton{
    display: inline;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 10px;
    background: rgba(149, 218, 85, 0.0);
    text-decoration: white;
    transition: 0.3s;
}
.boton:hover{
    transform: scale(2);
    background: rgba(186, 218, 85);   
}
a{
    text-decoration: none;
    color: white;
    text-shadow: rgba(0, 0, 0, 0.37);
}
a:hover{
    text-decoration:indianred;
    color: gray;
}
/* #barra-lateral{
    height:300px;
    background-color: seashell;
    float: left;
} */
#contenido-principal{
    
    display: flex;
    justify-content: center;
    background-color:rgba(255, 245, 238, 0.3);
    border-radius: 10px;
    padding-bottom: 1%;
    margin-left: 20%;
    margin-right: 20%;
}
#profile-picture{
    margin-top: 2%;
    transition: transform .2s;   
    border-radius: 5px 20px 5px;
}
#profile-picture:hover{
    transform: scale(1.2) rotate(-3deg);
}

.card {
    margin: 10%;
    padding: 10%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background: rgba(128, 128, 128,0.1);
    transition: 0.3s;
  }
  
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: scale(1.1);
  }
  
.container {
    padding: 2px 16px;
  }
.cards {
    display:inline-flex; 
    margin-right:15%;
    width: 100%;
}
.elementos-habilidades{
    background: rgba(11, 116, 158, 0.3);
    margin-left: 5%;
    border-radius: 0px 25px 10px 10px;
    text-align: justify;
    padding-bottom: 1%;
    padding-top: 1%;
    padding-right: 5%;
    padding-left: 5%;
    transition: 0.3s;
}
.elementos-habilidades:hover{
    background: rgba(11, 116, 158, 0.7);
}
.elementos-habilidades-adicionales{
    background: rgba(11, 158, 102, 0.3);
    margin-left: 5%;
    border-radius: 0px 25px 10px 10px;
    text-align: justify;
    padding-bottom: 1%;
    padding-top: 1%;
    padding-right: 5%;
    padding-left: 5%;
    transition: 0.3s;
}
.elementos-habilidades-adicionales:hover{
    background: rgba(11, 158, 102, 0.7);
}

.name-web{
    text-align: center;
}